a{
  text-decoration: none!important;
  font-weight: bold;
  
}

.nav:hover{
  transform: scale(0.90); 
   color: rgba(0, 0, 255, 0.438) !important;
}

.ul_style {
  width: 400px;
  
}

.img_style {
  width: 400px;
  margin: 0 auto;
  
}

.img_style img {
  width: 70%;
  object-fit: cover;
  margin: 0 auto;
  
}


@media screen and (max-width:1000px) {

  .img_style {
    width: 50%;

  }
  h1{
  font-size: 10px; 
  }

  .label {
    order: -1;
 
  }
  .ul_style {
    width: 80%;
  }
  .nuts {
    width: 80%;
  }

}
